body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f772d;
    background-image:url(1680058908-9961.avif);
    background-size: cover;
}
#box{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    background-color: #d4a373;
    margin-right: 1000px;
   
    
}
#inc{
    margin-top: 10px;
    width: 97%;
    font-size: 45px;
    
}
#kk{
    font-size: 30px;
    text-align: center;
}
#box2{
    height: 40px;
    width: 97%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
#btn{
    height: 40px;
    width: 97%;
    background-color: blue;
    color: white;
    border-radius: 10px ;
    font-size: 30px;
    margin-top: 30px;
}
#btn2{
    height: 40px;
    width: 97%;
    background-color:green;
    color: white;
    border-radius: 10px ;
    font-size: 30px;
    margin-top: 60PX;
}